.image-holder li {
  /*선택되지 않은 이미지들은 모두 투명하게 만들어 놓는다*/
  opacity: 0;

  /* fade-in 되는 이미지에 대해서 0.9초 뒤에 애니메이션 실행되도록 지연해줌*/
  transition-delay: 0.9s;
}

/*체크된 버튼에 대한 이미지 표시 : css만 사용하기 때문에 반복 코드 필요*/
.slider input[type=radio]:nth-child(1):checked ~ .image-holder > li:nth-child(1) {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

.slider input[type=radio]:nth-child(2):checked ~ .image-holder > li:nth-child(2) {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

.slider input[type=radio]:nth-child(3):checked ~ .image-holder > li:nth-child(3) {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}

.slider input[type=radio]:nth-child(4):checked ~ .image-holder > li:nth-child(4) {
  opacity: 1;
  transition: 1s;
  z-index: 1;
}