html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
}

div, p, span, h1, h2, a {
  color: #444;
}

a, a:active, a:visited {
  text-decoration: none;
}

header .title {
  clear:both;

  width:100%;
  text-align:center;
  padding:30px 0;
  box-sizing: border-box;
}

/* Post Card */
.post {
  background-color: #f6f6f6;
}

.post .thumbnail {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.post .thumbnail img {
  width: 100%;
}

.post .link {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}

.post .link:hover .title {
  color: #759db5;
}

.post .title {
  display: -webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;

  font-weight: bold;
  line-height:26px;
  max-height: 26px;
  letter-spacing:0;

  color:#39392F;
  margin-top:20px;

  overflow:hidden;
  text-overflow: ellipsis;
}

.post .excerpt {
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:4;

  vertical-align:top;

  max-height:88px;
  margin-top:4px;
  padding-top:10px;

  overflow:hidden;

  font-size:0.875em;
  line-height:22px;
  color:#5c5c5c;
}

.post .detail {
  margin: 11px 20px 30px 20px;
  font-size: 0.75em;
  color: #aaa;
}

.post .detail .category {
  color: #759db5;
  background-color: #efdbdb;
  padding: 2px 6px 3px 6px;
  border-radius: 15px;
  margin-right: 15px;
}


/* Paging */
.paging {
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;;
}

.paging .inner {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
}

.paging a:hover {
  color: #1e1e1e;
}


.paging .btn {
  float: left;
  margin-right: 18px;
  line-height: 30px;
  color: #5c5c5c;
}

.paging .btn:hover {
  background-color: #f0f0f0;
  border-radius: 15px;
}

.paging .btn-prev span::before {
  content: '◀';
  font-size: 1.125em;
}

.paging .btn-prev.no-more-prev {
  color: #c7c7c7;
  user-select: none;
}

.paging .btn-next span::after {
  content: '▶';
  font-size: 1.125em;
}

.paging .btn-next.no-more-next {
  color: #c7c7c7;
  user-select: none;
}

.paging .link-page span, .paging .btn-prev span, .paging .btn-next span {
  float: left;
  min-width: 10px;
  height: 30px;
  margin: 3px 4px;
  padding: 0 10px;
  line-height: 30px;
  color: #5c5c5c;
}

.paging .link-page span{
  border-radius: 30px;
}

.paging .link-page .selected {
  background-color: #3e3e3e;
  color: #f7f7f7;
  user-select: none;
}

.paging .link-page :not(.selected):hover {
  background-color: #f0f0f0;
}











