.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em 2%;
  margin: 0 1%;
}

.post {
  margin: 0;
}

/* responsive */
@media screen and (max-width: 1023px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}